<!DOCTYPE html>
<html lang="en">
  <head>
   <%= render 'header' %>
  </head>

<div class="container-fluid">
	<div class="col-md-12">
  		<h1>Editing article</h1>
 
		<%= render 'form' %>
 
	</div>

	<div class="col-md-12">
		<%= link_to 'Back', articles_path %>
	</div>
</div>

</html>